$bg-color: #FFFFFF;
$bg-color-3: #f2f2f2;
$bg-color-4: #4FE9DF;

$color: #323232;
$color-muted: #969696;
$color-brand: #3772FF;
$color-hot: #FF1515;
$color-white: #FFFFFF;
$color-green: #1EAE5A;

$border-color: #E2E2E2;
$border-color-2: #D7D7D7;

$z-index-base: 1;
