%rounded {
    &--full {
        border-radius: 50%;
    }
}

%border {
    &--none {
        border: none;
    }

    &--unset {
        border: unset;
    }

    &-top--none {
        border-top: none;
    }
}

%outline {
    &--none {
        outline: none;
    }
}