
%color {
    color: $color;

    &--hot {
        color: $color-hot;
    }

    &--white {
        color: $color-white;;
    }

    &--green {
        color: $color-green;
    }

    &--muted {
        color: $color-muted;
    }
}